* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: Edu TAS Beginner;
}

img {
  display: block;
  max-width: 100%;
}

li {
  font-size: 20px;
  color: #483D8B;
  font-style: italic;
  list-style: none;
  padding: 1%;
}

a {
  text-decoration: none;
  font-size: 20px;
}

button {
  font-size: 20px;
    border: 1px solid #5a6779;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #555d82;
} 